.container {
    position: relative;
    width: 170px;
}
.input{
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.input::-webkit-slider-thumb{
    appearance: none;
    width: 35px;
    height: 20px;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: auto;
    margin-top: -3px;
}
.input:active::-webkit-slider-thumb {
    background-color: #fff;
    border: 3px solid green;
}
.track {
    width: 100%;
    background-color: grey;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}